*{margin:0; padding:0;}

body{
	background:#d8d8d8;
	font-family:"Microsoft Yahei";
}
.header,thead{
	background:#333;
}
.header >img {
	 margin: 5px 20px 3px 20px;
   }
.header nav {
    float: right;
	margin:20px;
   
}
.header li {
    float: left;/*让列表横排*/
	margin-left: 50px;
}
.header a { 
	color:#fff; 
	text-decoration:none; /*去下划线*/
} 
h3 {
	color: #777;font-size: 1em;
	}
h2{
	font-size: 22px;
}
article,.sider,.picture{
	background:#fff;
	margin:20px;
	border:2px solid #a1a1a1;
	border-style:none ridge ridge none;/*ridge	定义 3D 垄状边框。其效果取决于 border-color 的值。*/
	padding: 30px 20px;
}
article{
	line-height:2em;
}

article p{text-indent: 2em;}/*text-indent 属性规定文本块中首行文本的缩进。*/
.author,time{
	color: #999;
	font-size: 0.8em;
}
article ul{
	list-style: none;
    margin:10px 30px;
}
article ol{
	 margin:0 60px;
}
.picture figcaption{
	margin: 0 0 10px 0;
	text-align: center;
}
.picture figure{
	width:120px;
	border:#ccc solid 1px;
	padding:10px;
	margin:20px 40px ;
	}
.picture img{
	width:100%;
}	
table{
	width: 100%;
	border:#ccc;
	border-collapse: collapse;/*如果可能，边框会合并为一个单一的边框。会忽略 border-spacing 和 empty-cells 属性。*/
}
thead,footer{
	color:#fff;
}
tfoot{
	background:#ccc;
	border:#ccc;
}
.sider h2 {
	font-size: 1em;
	padding: 10px;
	border-left: 5px solid #ccc;
}
.sider p{
	text-align:center;
	margin:10px;

}
.sider textarea{
	vertical-align:"text-top";/*把元素的顶端与行中最高元素的顶端对齐*/
	width: 60%;
	height: 10em;
}
.form-submit {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 1em;
	background: #35d;
	border-radius: 10px;/*该属性允许您为元素添加圆角边框！*/
}
footer{
	background:#000;
	text-align: center;
	padding:20px;
}